<form method="post">
    Nom: <input type="text" name="eventName">
    <input type="submit">
</form>
{% if listeE is empty %}
    La liste est vide
{% else %}
    <table>
        <tr>
            <td>id</td>
            <td>nom</td>
            <td>lieu</td>
        </tr>
        {% for e in listeE %}
            <tr>
                <td>{{ e.id }}</td>
                <td>{{ e.nom }}</td>
                <td>{{ e.lieu }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
